.customNavBar {
    background-color: #3E3D3D;
}

.customNavBar .nav-link {
    color: #FAFAFA;
}

.navbar-logo {
    height: 40px;      
    width: auto;
}

.searchBar {
    width: 500px;
    margin: 30px auto 0 auto;
}

.btn-primary {
    background-color: rgb(255, 247, 247);
    border: rgb(16, 16, 16);
}

.btn-search {
    background-color: transparent;   
    border: 2px solid #bab7b7;      
    color: #4a4747;                  
    transition: 0.3s;
}

.btn-search:hover {
    background-color: #9aa19a;      
    color: white;                   
    border-color: #9aa19a;
}

.price-tag {
    color: #3E3D3D !important; 
}

.btn-card-rent {
    background-color: #3E3D3D; 
    color: #FAFAFA;            
    border: none;              
    transition: 0.3s;
}

.btn-card-rent:hover {
    background-color: #9a9797; 
    color: #ffffff;
}


.btn-submit {
    background-color: #7BAF8A; 
    color: rgb(23, 22, 22);
    width: 70px;
    border: none;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: rgb(152, 224, 199);
    color: rgb(82, 80, 80);
}